#python version 3.6.8
Flask==2.3.2
Flask-Cors==3.0.9
Keras==2.0.8
Keras-Applications==1.0.7
opencv-python==4.2.0.32
numpy==1.17.2
Pillow>=6.2.2
pandas==0.23.4
pyopenssl==18.0.0
matplotlib==3.1.1
seaborn==0.8.1
scikit-learn==0.20.3 
scikit-image==0.15.0

